<div style="background-image: url(/img/background4.jpg)">
<div style="width: 1024;margin-left: 150;height:700px;">
	<font face="georgia" size="10px" ><p class="textposition"> College of Engineering</p></font>
	<hr>
	<div id="home">
			<font face="cursive" ><h3>College Mission: </h3></font>
			<font face="verdana">
			<p>&nbsp&nbsp&nbsp&nbspThe college of engineering is committed to produce competitive engineers who will serve as catalyst for sustainable growth and development in national and international levels.</p>
			</font>
			<br>
			<font face="cursive"><h3>College Vision: </h3></font>
  		<font face="verdana">
				<p>&nbsp&nbsp&nbsp&nbspThe college of engineering envisions itself to be a center of excellence in engineering education.</p>
			</font>
	</div>		
	<div id="logo">
		<img src="/img/home1.png"/>
	</div>
</div>  
</div>
<div  class="footer">
	<font face="garamond" color="white" size="3px"><strong>© 2014 CARTELLE</strong></font>
</div>
